@use '../util/breakpoint' as *;
@use '../util/functions' as *;
@use '../util/mixins' as *;
@use '../util/variables' as *;

.showcase {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: rem(16) rem(160);
	padding-bottom: 5rem;

	@include breakpoint-down(mobile) {
		padding: rem(30);
		padding-bottom: rem(50);
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__logo {
			max-width: 4rem;
			height: auto;
		}

		&__menu {
			display: flex;

			&__item {
				list-style: none;
				text-transform: capitalize;
				font-weight: 500;

				a {
					padding: 0.5rem 1.5rem;

					color: $black;
					transition: 0.2s;

					&:hover {
						background-color: $black;
						color: $white;
					}
				}
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		&__desc {
			max-width: 60%;

			@include breakpoint-down(mobile) {
				display: flex;
				flex-direction: column;
				max-width: 100%;
			}

			.box {
				display: flex;
				align-items: center;
				margin-bottom: 1rem;

				.line {
					display: inline-block;
					width: 2rem;
					height: 2px;
					margin-right: 1rem;

					align-self: center;
					background-color: $black;
				}

				.hello {
					text-transform: uppercase;
				}
			}

			.name {
				margin-bottom: 1rem;

				text-transform: capitalize;
				font-family: $title-font;
				font-size: 4rem;
				font-weight: 700;

				@include breakpoint-down(mobile) {
					font-size: rem(50);
				}

				.red {
					color: $red;
					font-weight: 700;
				}
			}

			.desc {
				margin-bottom: 3rem;

				line-height: 1.5;

				@include breakpoint-down(mobile) {
					margin-bottom: 4rem;
				}
			}

			.about-me-btn {
				padding: 1rem 2rem;

				border: none;
				color: $white;
				text-transform: uppercase;
				background-color: $red;
				font-weight: 600;
				cursor: pointer;
				transition: 0.2s;

				&:hover {
					background-color: $black;
				}

				@include breakpoint-down(mobile) {
					width: fit-content;
					align-self: center;
					margin-bottom: 2rem;
				}
			}
		}

		&__img {
			max-width: 35%;
			height: auto;
			max-height: 35rem;

			transition: 0.5s;

			@include breakpoint-down(mobile) {
				display: none;
				max-width: 100%;
				max-height: 25rem;
				width: auto;
			}

			&:hover {
				transform: translate(-20px, -20px);
				box-shadow: 15px 15px 0 0 $red;
			}
		}
	}

	&__social {
		display: flex;
		justify-content: center;
		&__link {
			color: $black;
			text-decoration: underline;
			font-weight: 500;

			transition: 0.2s;

			&:hover {
				color: $red;
			}
		}
		&__slash {
			padding: 0 0.5rem;
		}
	}
}
